button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: bold;
    background-color: #002791;
      color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  transition: background-color 0.3s ease; 
}
.button.primary {
  background-color: #002791;
  color: white;
  border: 1px solid #002791;
}
.button.primary:hover {
  background-color: #0c44de; 
}
.button.secondary {
  background-color: #002791;
  color: white;
  margin-left: 45%;
  border: 1px solid #002791;
}
.button.secondary:hover {
  background-color: #0c44de; 
}
.button.ghost {
  background-color: transparent;
  color: #002791;
  border: 1px solid #002791;
}
.button.ghost:hover {
  background-color: #e9f5ff;
}